$wikimedia:"https://upload.wikimedia.org/wikipedia/commons";

   .bicycleno {
    background-image:url($wikimedia + "/0/02/Znak_B-9.svg");
    }

  .footno {
    background-image:url($wikimedia + "/e/eb/Znak_B-41.svg");
    }

  .hgvno {
    background-image:url($wikimedia + "/7/76/Znak_B-5.svg");
    }

  .motorroad {
    background-image:url($wikimedia + "/c/ce/Znak_D7.svg");
    }
  .overtaking {
    background-image:url($wikimedia + "/a/ad/Znak_B-25.svg");
    }
  .overtakinghgv {
    background-image:url($wikimedia + "/1/14/Znak_B-26.svg");
    }

  .bicycledesig {
    background-image:url($wikimedia + "/1/19/Znak_C13.svg");
    }
  .busdesig {
    background-image:url($wikimedia + "/4/45/Zeichen_245.svg");//brak polskiego odpowiednika
    }

  .roundabout {
    background-image:url($wikimedia + "/7/78/Znak_C-12.svg");
    }


  .traffic_signals {
    background-image:url($wikimedia + "/d/d4/Znak_A-29.svg") ;
    }
  .give_way {
    background-image:url($wikimedia + "/c/c8/Znak_A-7.svg") ;
    }
  .stop {
    background-image:url($wikimedia + "/8/8a/Poland_road_sign_B-20.svg") ;
    }
  .priority {
    background-image:url($wikimedia + "/9/94/Znak_B-31.svg") ;
    }
  .crossing {
    background-image:url($wikimedia + "/b/b0/Zeichen_350-10.svg") ;//???
    }
  .priority_road {
    background-image:url($wikimedia + "/b/b2/Znak_D-1.svg") ;
    }




.condition.wet {
  background-image:url($wikimedia + "/0/03/Zusatzzeichen_1052-36.svg");//??
  border:none;
  background-color:transparent;
  height:35px;
  }
.condition.hgv {
  background-image:url($wikimedia + "/a/a6/Znak_T-23b.svg");
  border:none;
  background-color:transparent;
  height:20px;
  }
